<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Employee Management</title>

 <style>
div > form > button {
    box-shadow: 0 4px 8px 0 rgb(16 15 15 / 93%), 0 6px 20px 0 rgb(21 22 22 / 98%);
    padding: 14px 235px;
    font-size: 38px;
    cursor: pointer;
}

</style>

</head>

<body>
    <div class="card">
    <h1>Employee Management Application</h1>
    <p>This file is rendered in the browser using the Ejs template engine.</p>
    </div>
    <% if(!locals?.html){ %>
        <div class="card">
    <form action="/home/signup/page" method="post">
        <button type="submit">SignUp</button>
    </form>
    </div>
  <% } %>
</body>

</html>